<form>
    </div>
        <label class="form-label">Digite a sua divida:</label>
        <div class="input-group mb-3">
            <span class="input-group-text">Divida:</span>
            <input type="text" class="form-control" placeholder="ex: pagar Gabrielly" name="nome divida">
            <span class="input-group-text">R$</span>
            <input type="text" class="form-control" placeholder="0,00" name="divida">
        </div>
    </div>
    
    <div class="form-group">
      <label class="control-label">De:</label>
      <input class="form-control" name="dateini" placeholder="30/12/2000" type="date"/>
      <label class="control-label">Ate:</label>
      <input class="form-control" name="datefin" placeholder="00/00/0000" type="date"/>
    </div>
</form>